.faq-container {
  padding: 3rem 2rem;
  max-width: 1000px;
  margin: 0 auto;
  color: #c6bdbd;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.faq-container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #00e6e6;
}

.faq-item {
  margin-bottom: 1.5rem;
}

.faq-item h3 {
  font-size: 1.2rem;
  color: #cfe765;
}

.faq-item p {
  font-size: 1rem;
  line-height: 1.6;
}
